.container{
    width: 100px;
    height: 100px;
    border: 1px solid var(--input-border);
    position: relative;
    border-radius: var(--border-radius-s);
}

.image_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    gap: 10px;
    border-radius: var(--border-radius-s);
    overflow: hidden;
    height: 100%;
}

.image{
    width: 40px;
    height: 40px;
    color: var(--text-muted);
}
.imagePreview{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-s);
    overflow: hidden;
}
.label{
    font-weight: 400;
    font-size: var(--medium);
    line-height: 19.1px;
    color: var(--text-muted);
}

.btn_reset{
    background: var(--card-bg);
    position: absolute;
    top: -10px;
    right: -10px;
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    box-shadow: 0 1px 4px 0 var(--box-shadow-color-03);
    cursor: pointer;
    z-index: 99;
}

.btn_reset_icon{
    font-size: var(--medium-big);
}

.form__input.invalid {
    border: 1.5px solid var(--warning-color); /* Bordure rouge pour le champ invalide */
}


.dropdown {
    position: relative;
    height: 48px;
    margin-top:20px;
    margin-bottom: 10px;
    width: 100%;
}

.dropdown_select {
    width: 100%;
    height: 100%;
    font-size: var(--normal-font-size);
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
    color: var(--color-text-8);
    font-size: var(--medium);
}

.dropdown_label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    background-color: var(--tertiary-color);
    color: var(--color-text-7);
    font-size: var(--normal-font-size);
    transition: .3s;
    font-size: var(--medium);
}

/* Style lorsque le dropdown a le focus */
.dropdown_select:focus + .dropdown_label {
    top: -.5rem;
    left: .8rem;
    color: var(--first-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

.dropdown .form__input{
    padding: 0.5rem;
}

.form__label{
    position: absolute;
    left: 1rem;
    top: -10px;
    color: var(--text-primary);
    transition: .3s;
    font-size: var(--medium);
    z-index: 100;
}

.dropdown .ant-form-item-explain-error{
    text-align: right!important;
    justify-content: flex-end;
    display: flex;
}